.label_width_40 {
    width: 40px
}

.label_width_100 {
    width: 100px
}

.label_width_65 {
    width: 65px
}

.label_width_150 {
    width: 150px
}

.label_width_250 {
    width: 250px
}

.text_center {
    text-align: center;
}

.text_left {
    text-align: left;
}

.text_column {
    width: 200px;
    margin-bottom: 10px;
}

.container_div {
    margin-left: 5%;
    background-color: #F5F5F5;
    padding: 30px;
 /*   padding-bottom: 30px;
    padding-top: 30px;*/
    margin-top: 10px
}

.bold_big_green_font {
    font-size: 18px;
    font-weight: bold;
    color: #5FB878;
    margin-left: 3px;
    margin-right: 3px;
}

#image_list > li {float: left; margin-right: 10px;}
#image_list > li > img {width: 90px; height: 90px; border: 1px solid #CCCCCC;}
#image_list > li > input {border: none; text-overflow: ellipsis;}
#demoList > tr > td > input {text-overflow: ellipsis;}

.demoText {
    margin-top: 5px;
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*index page*/
.info{
    float: left;
    width: 30%;
    font-size: 14pt;
}
